*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
  }
body{
  height: 100vh;
  background-color: rgb(123, 212, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}
.all{   
  border:4px solid #18c36b;  
  width: 500px; 
  background: rgb(150, 16, 9); 
  position: relative;    
  
  
}
  .information{
    margin-top: 50px;
    /*  margin: 200px 0 40px 0; */
      color: #b9db3f;
      padding: 0px 10px;
      max-resolution: center;
  
  }
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  
  }
  .Avatar{
      width: 200px;
      height: 200px;
      border:4px solid #C89FA3;
      overflow: hidden;   
       
  }

  .private{
    margin: 25px 0;
    display: inline-block;   
    font-size: 140%;  
  }
  .thongtin{ 
    overflow: hidden;
    left: 260px;
    background: #040946;
    border:4px solid #A67F8E;
    width: 235px;
    height: 320px;
    position:absolute;
    right: 0;
    top: 0;
    padding: 0px 20px;
   box-sizing: border-box;
   color: white;
   
   
  }
  .social a{
    color: white;
    margin: 10px;
    display: inline-block;
    font-size: 170%;
  }
  
  html{
    background:rgb(77, 13, 156);

    
  }